.headerOption{
    flex-direction: column;
    color: gray;
    margin-right: 40px;
    font-size: 0.8rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.headerOptionIcon{
    height: 25px !important;
    width: 25px !important;
    object-fit: contain;
}

.headerOption:hover{
    color: black;
}

@media screen and (max-width:600px) {
    .headerOption{
        /* column-gap: 20px; */
        font-size: 0.5rem;
        column-gap: 30px;
        margin-right: 0;
    }
    .headerOptionTitle{
        display: none;
    }
}