.sidebar{
    border-radius: 10px;
 
}


.sidebarTop{
    background-color: white;
    border: 0.1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
}
.name{
   font-size:18px ; 
   line-height: 2;
}
.bioSection{
    text-align: center;
    /* padding-top: 20px; */
}

.bioSection p{
    font-size: 16px;
    color: gray;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.backgroundImg{
    background: linear-gradient(90deg, #0062ff, #da61ff);
    height: 60px;
    width: 100%;
    margin-bottom: -40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sidebarAvatar{
    margin: auto;
    height: 70px !important;
    width: 70px !important;
    object-fit: contain;
    border: 2px solid white;
}

.sidebarStats{
    padding: 10px;
}
.sidebarStat{
    margin-top: 10px;
    justify-content: space-between;
    color: gray;
    font-size: 14px;
    font-weight: 600;

}

.sidebarStatNumber{
    color: #0a66c2;
    font-weight: bold;
   
}

.sidebarBottom{
/* padding: 10px; */
}
.groups, .recent{
   
    background-color: white;
    border: 0.1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    /* width: 100%; */
   
}
.groups > p{
    color: #0a66c2;
}
.sidebarRecentItem{
    gap: 15px;
    font-size: 14px;
    color: gray;
    line-height: 2;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.sidebarRecentItem:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}